.dark-medium-contrast {
  --md-sys-color-primary: rgb(175 204 255);
  --md-sys-color-surface-tint: rgb(168 200 255);
  --md-sys-color-on-primary: rgb(0 22 51);
  --md-sys-color-primary-container: rgb(114 146 198);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(193 203 224);
  --md-sys-color-on-secondary: rgb(13 23 38);
  --md-sys-color-secondary-container: rgb(135 145 165);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(224 193 230);
  --md-sys-color-on-tertiary: rgb(34 14 41);
  --md-sys-color-tertiary-container: rgb(163 135 170);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(17 19 24);
  --md-sys-color-on-background: rgb(225 226 233);
  --md-sys-color-surface: rgb(17 19 24);
  --md-sys-color-on-surface: rgb(251 250 255);
  --md-sys-color-surface-variant: rgb(67 71 78);
  --md-sys-color-on-surface-variant: rgb(200 202 212);
  --md-sys-color-outline: rgb(160 163 172);
  --md-sys-color-outline-variant: rgb(128 131 139);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 226 233);
  --md-sys-color-inverse-on-surface: rgb(40 42 47);
  --md-sys-color-inverse-primary: rgb(38 72 120);
  --md-sys-color-primary-fixed: rgb(213 227 255);
  --md-sys-color-on-primary-fixed: rgb(0 17 41);
  --md-sys-color-primary-fixed-dim: rgb(168 200 255);
  --md-sys-color-on-primary-fixed-variant: rgb(15 54 101);
  --md-sys-color-secondary-fixed: rgb(217 227 248);
  --md-sys-color-on-secondary-fixed: rgb(7 17 32);
  --md-sys-color-secondary-fixed-dim: rgb(189 199 220);
  --md-sys-color-on-secondary-fixed-variant: rgb(45 54 71);
  --md-sys-color-tertiary-fixed: rgb(248 216 254);
  --md-sys-color-on-tertiary-fixed: rgb(28 9 36);
  --md-sys-color-tertiary-fixed-dim: rgb(219 188 225);
  --md-sys-color-on-tertiary-fixed-variant: rgb(68 46 75);
  --md-sys-color-surface-dim: rgb(17 19 24);
  --md-sys-color-surface-bright: rgb(55 57 62);
  --md-sys-color-surface-container-lowest: rgb(12 14 19);
  --md-sys-color-surface-container-low: rgb(25 28 32);
  --md-sys-color-surface-container: rgb(29 32 36);
  --md-sys-color-surface-container-high: rgb(40 42 47);
  --md-sys-color-surface-container-highest: rgb(51 53 58);
}
