/* @media (prefers-color-scheme: dark) {
  body {
  background-color: #212121;
  color: white;
  }
} */

html {
  font-family: "Gabarito", sans-serif;
}
body {
  padding: 0;
  margin: 0;
}
div.logo {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  display: flex;
  flex-direction: row;
  width: 100%;
}
h1 {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 4vw;
  margin-bottom: 15px;
  width: 80%;
}
#sec1Text p {
  margin-top: 0px;
  padding-left: 0px;
  width: 80%;
  font-size: 1.5vw;
}
#sec1Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  margin-top: 300px;
  width: 80%;
  height: 100%;
}
#rocket {
  width: 35%;
  height: fill;
  margin-top: 200px;
}
header {
  background-color: white;
  position: fixed;
  font-size: 1.3vw;
  left: 0;
  right: 0;
  height: 3.5vw;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(32,33,36,.08);
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center; /* optional for vertical centering */
}

header * {
  display: inline;
}
header li {
  margin: 5px;
}
header li a {
  color: #5f6368;
  font-size: 1vw;
  text-decoration: none;
  border-color: white;
  border-width: medium;
  border-style: solid;
  border-radius: 12px;
  padding: 10px;
}
header li a:hover {
  color: black;
}
header li a:active {
  border-color: #448AFF;
}
#menu_img {
  display: none;
}
#sec2 {
  display: flex;
  justify-content: center;
  width: max-content;
  font-size: 1em;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.logo img {
  width: 2.5vw; height: fit-content;
}
@media (min-width: 320px) and (max-width: 999px) {
  div.logo {
    width: max-content;
  }
  #sec1Text h1 {
    vertical-align: bottom;
    font-size: 2.5em;
  }
  #sec1Text p {
    font-size: 1.1em;
  }
  header {
    font-size: larger;
    height: 64px;
  }
  .logo img {
    width: 42px;
    height: fit-content;
  }
  header li a {
    display: none;
  }
  body {
    width: 100%;
  }
  #sec1Text {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
  #rocket {
    margin-top: 0px;
    height: 100%;
    width: auto;
  }
  #main {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 64px;
    margin-left: 4px;
  }
  #menu_img {
    display: unset;
  }
  #menu_img_div {
    justify-content: right;
  }
}
