@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* @keyframes comparison {
  0% {
    margin: 12px;
    border-radius: 0px;
    border-width: 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.08);
  }
  40% {
    margin: 12px 15px 4px 15px;
    border-radius: 7px;
    border-width: 1px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.08);
  }
  70% {
    margin: 12px 25px 12px 25px;
    border-radius: 12px;
    border-width: 2px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
  }
} */
@keyframes comparison {
  0% {
    margin: 12px 80px 12px 80px;
    border-radius: 64px;
    border-width: 2px;
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.08);
  }
  30% {
    margin: 12px 40px 4px 40px;
    border-width: 1px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.08);
  }
  35% {
    height: 85vh;
    margin: 12px 0px 40px 0px; /* Adjust padding here if needed */
  }
  42% {
    height: 95vh;
    margin: 12px 0px 40px 0px; /* Adjust padding here if needed */
  }
  50% {
    border-radius: 0px;
    height: 120vh;
    margin: 12px 0px 40px 0px; /* Adjust padding here if needed */
  }
  60% {
    /* No height change, maintain padding */
    margin: 12px 20px 12px 20px; /* Adjust padding here if needed */
  }
  70% {
    height: 100vh;
    margin: 12px 40px 12px 40px;
    transition: margin-bottom 0.5s ease-in-out; /* Adjust duration and timing as needed */
  }
}
html {
  font-family: "Gabarito", sans-serif;
}
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}
.fallback-image {
  width: 90%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  display: none;
}
div.logo {
  margin-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(/img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}
#main-2 {
  min-height: 300px;
  height: 80vh;
  word-wrap: break-word;
  margin: 12px 30px 12px 30px;
  border-radius: 64px;
  border-width: 2px;
  background-color: var(--md-sys-color-primary-container);
}
#main h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 60px;
  margin-bottom: 10px;
  width: 80%;
}
#sec1Text p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0px;
  padding-left: 0px;
  width: 80%;
  font-size: 24px;
}
#sec1Text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
  height: 100%;
}
.rocket {
  width: 560px;
  height: fit-content;
}
header {
  background-color: var(--md-sys-color-primary-container);
  position: fixed;
  font-size: 24px;
  left: 0;
  right: 0;
  height: 64px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px 0 rgba(32, 33, 36, 0.08);
  z-index: 2;
  color: var(--md-sys-color-on-primary-container);
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center; /* optional for vertical centering */
}

header * {
  display: inline;
}
header li {
  margin: 5px 0px 5px 0px;
}
header li a {
  color: var(--md-sys-color-on-primary-container);
  font-size: 18px;
  text-decoration: none;
  border-radius: 12px;
  padding: 10px 6px 10px 0px;
}
header li a:hover {
  color: var(--md-sys-color-tertiary);
}
header li a:active {
  border-color: #448aff;
}
#menu_img {
  display: none;
}
#sec2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  font-size: 38px;
  width: 100%;
  height: 100%;
  border-radius: 64px;
  text-align: center;
  background-color: var(--md-sys-color-primary-container);
  border-width: 2px;
  padding: 8px;
}
#sec2 h2 {
  padding: 12px;
  color: var(--md-sys-color-on-primary-container);

}
#sec2 p {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 22px;
  color: var(--md-sys-color-outline);
  width: 80%;
  margin-bottom: 64px;
}
#sec2 h4 {
  font-size: 38px;
  margin-bottom: 4px;
  color: var(--md-sys-color-on-primary-container);
}
#comparison {
  display: flex;
  flex-direction: row;
}
#sec3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 38px;
  width: 100%;
  text-align: center;
}
.editor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  padding: 0px;
  margin: 0px;
}
.editor img {
  border-radius: 12px;
  height: 306px;
  width: 542px;
}
.logo img {
  width: 48px;
  height: fit-content;
}
.feature_img {
  width: 200px;
  height: auto;
}
.feature {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.feature p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  color: var(--md-sys-color-outline);
  width: 80%;
}
#features {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  margin: 12px;
}
#features h4 {
  font-size: 40px;
  margin-bottom: 4px;
}
@media (min-width: 100px) and (max-width: 1024px) {
  .fallback-image {
    display: block;
  }
  div.logo {
    width: max-content;
  }
  #sec1Text h1 {
    vertical-align: bottom;
    font-size: 2.5em;
  }
  #sec1Text p {
    font-size: 1.1em;
  }
  header {
    font-size: larger;
    height: 50px;
    border-radius: 128px;
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
    margin: 8px;
    position: inherit;
    margin-bottom: 0px;
    box-shadow: 0px;
  }
  .logo img {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    content: url(/img/menu.png);
  }
  header li a {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center; /* optional for vertical centering */
    width: max-content;
  }
  body {
    width: 100%;
  }
  #sec1Text {
    margin-top: 0px;
    width: 100%;
    height: 100%;
  }
  .rocket {
    margin-top: 0px;
    height: 100%;
    width: 100%;
    display: none;
  }
  #main {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 64px;
    margin-left: 4px;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: none;
  }
  #menu_img {
    display: none;
    height: 18px;

  }
  #menu_img_div {
    display: flex;
    justify-content: right;
  }
  #sec2 {
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    border-radius: 50px;
  }
  #main-2 h4 {
    font-size: 24px;
    margin-top: 24px;
  }
  #sec2 p {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 32px;
  }
  #sec2 h2 {
    padding: 12px;
  }
  #comparison {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  #main-2 {
    animation: none !important;
    min-height: 300px;
    height: auto;
  }
  .editor {
    width: 80%;
    align-items: center;
    text-align: center;
  }
  .editor img {
    width: 95%;
    height: auto;
    margin-bottom: 0px
  }
  #features {
    display: flex;
    flex-direction: column;
    font-size: 18px;
  }
  #sec3 h2 {
    font-size: 36px;
    padding: 12px;
  }
  #sec3 h4 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1500px) {
  #main-2 {

  animation: comparison linear;
  animation-timeline: scroll(root block);
  }
} 
@media (prefers-color-scheme: dark) {
  #main {
    background-image: none;
  }
}