.btn {
    background-position: center;
    transition: background 0.8s;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  .btn:hover {
    background: #448AFF radial-gradient(circle, transparent 1%, #448AFF 1%) center/15000%;
  }
  .btn:active {
    border: none;
    background-color: #000000;
    background-size: 100%;
    transition: background 0s;
  }
  
  /* Button style */
  .btn {
    width: 100%;
    border: none;
    border-radius: 8px;
    padding: 12px 18px;
    font-size: 16px;
  cursor: pointer;
    color: white;
    background-color: #448AFF;
    box-shadow: 0 0 4px #999;
  }